---
layout: default
title: UCD Plant Biologists Learning R
---

<div class="content">

  <div class="quicklinks">
    <h3>Quick Links</h3>
    <div class="two-col">
      <a href="{{ site.baseurl }}{% post_url 2013-01-01-about %}"><aside class="hover">About R Club</aside></a>
      <a href="{{ site.baseurl }}{% post_url 2013-01-01-nothing-to-see-here %}"><aside class="hover">Recommended Texts &amp; Tutorials</aside></a>
      <a href="{{ site.baseurl }}{% post_url 2013-01-01-nothing-to-see-here %}"><aside class="hover">Homework Guidelines</aside></a>
      <a href="{{ site.baseurl }}{% post_url 2013-01-01-contact %}"><aside class="hover">Contact Info</aside></a>
      <a href="https://github.com/mfcovington/r_club/wiki"><aside class="hover">R Club Wiki</aside></a>
      <a href="{{ site.baseurl }}{% post_url 2013-03-21-stylin %}"><aside class="hover">Writing Good, Readable R Code</aside></a>
      <a href="{{ site.baseurl }}{% post_url 2013-01-01-nothing-to-see-here %}"><aside class="hover">Managing R</aside></a>
      <a href="https://github.com/mfcovington/r_club"><aside class="hover">R Club on GitHub</aside></a>
    </div>
  </div>

  <div class="schedule">
    <h3>Winter Schedule</h3>
    <table>

      <thead>
        <tr>
          <th class="date-col">Date</th>
          <th class="reading-col">Reading / Topic</th>
          <th class="info-col">Homework</th>
          <th class="info-col">Exercises</th>
          <th class="info-col">Resources</th>
        </tr>
      </thead>

      <tbody>
          {% for post in site.posts %}
            {% if post.categories.first == 'schedule' %}
              <tr>
                <td class="date-cell">{{ post.classdate }}</td>
                <td class="reading-cell">
                  {% for read in post.reading %}
                    {% if read.link == null %}
                      {{ read.title }}
                    {% elsif read.link contains 'http://' %}
                      <a href="{{ read.link }}">{{ read.title }}</a>
                    {% else %}
                      <a href="{{ site.baseurl }}/reading/{{ read.link | replace_first:'-','/' | replace_first:'-','/' | replace_first:'-','/' | remove: '.md' }}">{{ read.title }}</a>
                    {% endif %}
                    <br>
                  {% endfor %}
                </td>
                <td class="homework-cell">
                  {% for hw in post.homework %}
                    {% unless hw.q == null %}
                      <a href="{{ site.baseurl }}/homework/{{ hw.q | replace_first:'-','/' | replace_first:'-','/' | replace_first:'-','/' | remove: '.md' }}/"><strong>Q</strong></a>
                    {% endunless %}
                    {% unless hw.a == null %}
                      &amp; <a href="{{ site.baseurl }}/solutions/{{ hw.a | replace_first:'-','/' | replace_first:'-','/' | replace_first:'-','/' | remove: '.md' }}/"><strong>A</strong></a>
                    {% endunless %}
                    <br>
                  {% endfor %}
                </td>
                <td class="exercises-cell">
                  {% for exer in post.exercises %}
                    {% unless exer.q == null %}
                      <a href="{{ site.baseurl }}/exercises/{{ exer.q | replace_first:'-','/' | replace_first:'-','/' | replace_first:'-','/' | remove: '.md' }}/"><strong>Q</strong></a>
                    {% endunless %}
                    {% unless exer.a == null %}
                      &amp; <a href="{{ site.baseurl }}/solutions/{{ exer.a | replace_first:'-','/' | replace_first:'-','/' | replace_first:'-','/' | remove: '.md' }}/"><strong>A</strong></a>
                    {% endunless %}
                    <br>
                  {% endfor %}
                </td>
                <td class="resources-cell">
                  {% for res in post.resources %}
                    <a href="{{ site.baseurl }}/resources/{{ res.link | replace_first:'-','/' | replace_first:'-','/' | replace_first:'-','/' | remove: '.md' }}/">{{ res.title }}</a><br>
                  {% endfor %}
                </td>
              </tr>
            {% endif %}
          {% endfor %}
      </tbody>

    </table>
  </div>

  <div class="recent">
    <h3>Recent Posts</h3>
    <ul>
      {% for post in site.posts limit: 5 %}
        <li>
          <a href="{{ site.baseurl }}{{ post.url }}"><strong>{{ post.title }}</strong></a>{% for cat in post.categories %} [{{ cat }}]{% endfor %}{% for tag in post.tags %} [{{ tag }}]{% endfor %} - {{ post.date | date: "%Y-%m-%d" }}
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
