---
layout: default
title: UCD Plant Biologists Learning R
---

<div class="content">
  <div class = "schedule">
    <h3>Winter Schedule</h3>

      <table>

        <thead>
          <tr>
            <th class="date-col">Date</th>
            <th class="reading-col">Reading</th>
            <th class="info-col">Homework</th>
            <th class="info-col">Exercises</th>
            <th class="info-col">Resources</th>
          </tr>
        </thead>
<!--
        <tfoot>
          <tr>
            <th class="date-col">Date</th>
            <th class="reading-col">Reading</th>
            <th class="info-col">Homework</th>
            <th class="info-col">Exercises</th>
            <th class="info-col">Resources</th>
          </tr>
        </tfoot>
 -->
 <!--
        <tfoot>
          <tr>
            <th class="date-col"></th>
            <th class="reading-col"></th>
            <th class="info-col"></th>
            <th class="info-col"></th>
            <th class="info-col"></th>
          </tr>
        </tfoot>
 -->
        <tbody>

          <tr>
            <td class="date-cell">2013-02-28</td>
            <td class="reading-cell">ggplot2 ch5: 'Toolbox'</td>
            <td class="homework-cell"><a href="{{ site.baseurl }}/homework/2013/02/26/peer-produced-plots/"><strong>Q</strong></a> &amp; <a href="{{ site.baseurl }}/solutions/2013/02/28/peer-produced-plots-solutions/"><strong>A</strong></a></td>
            <td class="exercises-cell">Q &amp; A</td>
            <td class="resources-cell">-</td>
          </tr>

          <tr>
            <td class="date-cell">2013-02-14</td>
            <td class="reading-cell">ggplot2 ch4: 'Build a plot layer by layer'</td>
            <td class="homework-cell">Q &amp; A<br>Bonus Q &amp; A</a></td>
            <td class="exercises-cell">Q &amp; A</td>
            <td class="resources-cell"><a href="{{ site.baseurl }}{% post_url 2013-02-10-updating-r-and-ggplot2 %}">Updating R/ggplot2</a></td>
          </tr>

          <tr>
            <td class="date-cell">2013-02-07</td>
            <td class="reading-cell">ggplot2 ch3: 'Mastering the grammar'</td>
            <td class="homework-cell">Q &amp; A</td>
            <td class="exercises-cell">Q &amp; A</td>
            <td class="resources-cell">-</td>
          </tr>

          <tr>
            <td class="date-cell">2013-01-31</td>
            <td class="reading-cell">ggplot2 ch1: 'Introduction'<br>ggplot2 ch3: 'Getting started with qplot'</td>
            <td class="homework-cell">Q &amp; A</td>
            <td class="exercises-cell">Q &amp; A</td>
            <td class="resources-cell">-</td>
          </tr>

          <tr>
            <td class="date-cell">2013-01-24</td>
            <td class="reading-cell">&nbsp;</td>
            <td class="homework-cell">Q &amp; A</td>
            <td class="exercises-cell">Q &amp; A</td>
            <td class="resources-cell">-</td>
          </tr>

          <tr>
            <td class="date-cell">2013-01-17</td>
            <td class="reading-cell">&nbsp;</td>
            <td class="homework-cell">Q &amp; A</td>
            <td class="exercises-cell">Q &amp; A</td>
            <td class="resources-cell">-</td>
          </tr>

        </tbody>
      </table>

  </div>

  <div class="recent">
    <h3>Recent Posts</h3>
    <ul>
      {% for post in site.posts limit: 5 %}
      <li>
    <a href="{{ site.baseurl }}{{ post.url }}"><strong>{{ post.title }}</strong></a>{% for cat in post.categories %} [{{ cat }}]{% endfor %}{% for tag in post.tags %} [{{ tag }}]{% endfor %} - {{ post.date | date: "%Y-%m-%d" }}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
