---
title: other
layout: default
---

<div class="content">
    {{ content }}
</div>

<div class="all-posts">
<h3>All {{ page.title | capitalize }} Posts</h3>
<ul>
  {% for post in site.posts %}
    {% capture cat %}{{ post.categories | first }}{% endcapture %}
    {% if cat != 'homework' and cat != 'exercises' and cat != 'solutions' and cat != 'resources' %}
      <li>
        <a href="{{ site.baseurl }}{{ post.url }}"><strong>{{ post.title }}</strong></a>{% for cat in post.categories %} [{{ cat }}]{% endfor %}{% for tag in post.tags %} [{{ tag }}]{% endfor %} - {{ post.date | date: "%Y-%m-%d" }}{% if post.duedate %} [due: {{ post.duedate }}]{% endif %}
      </li>
    {% endif %}
  {% endfor %}
</ul>
</div>
