<tr>
<td class="date-cell">{{ class.classdate }}</td>
<td class="reading-cell">
  {% for read in class.reading %}
    {% if read.link == null %}
      {{ read.title }}
    {% elsif read.link contains 'http://' %}
      <a href="{{ read.link }}">{{ read.title }}</a>
    {% else %}
      <a href="{{ site.baseurl }}/reading/{{ read.link | replace_first:'-','/' | replace_first:'-','/' | replace_first:'-','/' | remove: '.md' }}">{{ read.title }}</a>
    {% endif %}
    <br>
  {% endfor %}
</td>
<td class="homework-cell">
  {% for hw in class.homework %}
    {% unless hw.title == null %}
      {{ hw.title }}
    {% endunless %}
    {% unless hw.q == null %}
      <a href="{{ site.baseurl }}/homework/{{ hw.q | replace_first:'-','/' | replace_first:'-','/' | replace_first:'-','/' | remove: '.md' }}/"><strong>Q</strong></a>
    {% endunless %}
    {% unless hw.a == null %}
      &amp; <a href="{{ site.baseurl }}/solutions/{{ hw.a | replace_first:'-','/' | replace_first:'-','/' | replace_first:'-','/' | remove: '.md' }}/"><strong>A</strong></a>
    {% endunless %}
    <br>
  {% endfor %}
</td>
<td class="exercises-cell">
  {% for exer in class.exercises %}
    {% unless exer.q == null %}
      <a href="{{ site.baseurl }}/exercises/{{ exer.q | replace_first:'-','/' | replace_first:'-','/' | replace_first:'-','/' | remove: '.md' }}/"><strong>Q</strong></a>
    {% endunless %}
    {% unless exer.a == null %}
      &amp; <a href="{{ site.baseurl }}/solutions/{{ exer.a | replace_first:'-','/' | replace_first:'-','/' | replace_first:'-','/' | remove: '.md' }}/"><strong>A</strong></a>
    {% endunless %}
    <br>
  {% endfor %}
</td>
<td class="resources-cell">
  {% for res in class.resources %}
    <a href="{{ site.baseurl }}/resources/{{ res.link | replace_first:'-','/' | replace_first:'-','/' | replace_first:'-','/' | remove: '.md' }}/">{{ res.title }}</a><br>
  {% endfor %}
</td>
</tr>
