---
layout: default
---

<div>

  {% unless page.reading.first.first == '' %}
    <h2>Reading Assignment</h2>
    <ul>
      {% for item in page.reading %}
        <li>
          {% if item.last == '' %}
            {{ item.first }}
          {% elsif item.last contains 'http://' %}
            <a href="{{ item.last }}">{{ item.first }}</a>
          {% else %}
            <a href="{{ site.baseurl }}/reading/{{ item.last | replace_first:'-','/' | replace_first:'-','/' | replace_first:'-','/' | remove: '.md' }}">{{ item.first }}</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endunless %}

  {% unless page.homework.first.first == '' %}
    <h2>Homework Assignment</h2>
    <ul>
      {% for item in page.homework %}
        {% capture id %}{{ item.first | replace_first:'-','/' | replace_first:'-','/' | replace_first:'-','/' | remove: '.md' | prepend: '/homework/' }}{% endcapture %}
        {% for item in site.posts %}
          {% if item.id == id %}
           {% capture title %}{{ item.title }}{% endcapture %}
          {% endif %}
        {% endfor %}
        <li>
          {% unless item.first == '' %}
            <a href="{{ site.baseurl }}/homework/{{ item.first | replace_first:'-','/' | replace_first:'-','/' | replace_first:'-','/' | remove: '.md' }}/">{{ title }}</a>
          {% endunless %}
          {% unless item.last == '' %}
            [<a href="{{ site.baseurl }}/solutions/{{ item.last | replace_first:'-','/' | replace_first:'-','/' | replace_first:'-','/' | remove: '.md' }}/">solution</a>]
          {% endunless %}
        </li>
      {% endfor %}
    </ul>
  {% endunless %}

  {% unless page.exercises.first.first == '' %}
    <h2>In-Class Exercises</h2>
    <ul>
      {% for item in page.exercises %}
        {% capture id %}{{ item.first | replace_first:'-','/' | replace_first:'-','/' | replace_first:'-','/' | remove: '.md' | prepend: '/exercises/' }}{% endcapture %}
        {% for item in site.posts %}
          {% if item.id == id %}
           {% capture title %}{{ item.title }}{% endcapture %}
          {% endif %}
        {% endfor %}
        <li>
          {% unless item.first == '' %}
            <a href="{{ site.baseurl }}/exercises/{{ item.first | replace_first:'-','/' | replace_first:'-','/' | replace_first:'-','/' | remove: '.md' }}/">{{ title }}</a>
          {% endunless %}
          {% unless item.last == '' %}
            [<a href="{{ site.baseurl }}/solutions/{{ item.last | replace_first:'-','/' | replace_first:'-','/' | replace_first:'-','/' | remove: '.md' }}/">solution</a>]
          {% endunless %}
        </li>
      {% endfor %}
    </ul>
  {% endunless %}

  {% unless page.resources.first.first == '' %}
    <h2>Resources</h2>
    <ul>
      {% for item in page.resources %}
        <li>
          <a href="{{ site.baseurl }}/resources/{{ item.first | replace_first:'-','/' | replace_first:'-','/' | replace_first:'-','/' | remove: '.md' }}/">{{ item.last }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endunless %}

</div>

<div class="schedule">
  <table>
      <thead>
        <tr>
          <th class="date-col">Date</th>
          <th class="reading-col">Reading</th>
          <th class="info-col">Homework</th>
          <th class="info-col">Exercises</th>
          <th class="info-col">Resources</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="date-cell">{{ page.classdate }}</td>
          <td class="reading-cell">{% for item in page.reading %}{% if item.last == '' %}{{ item.first }}{% elsif item.last contains 'http://' %}<a href="{{ item.last }}">{{ item.first }}</a>{% else %}<a href="{{ site.baseurl }}/reading/{{ item.last | replace_first:'-','/' | replace_first:'-','/' | replace_first:'-','/' | remove: '.md' }}">{{ item.first }}</a>{% endif %}<br>{% endfor %}</td>
          <td class="homework-cell">{% for item in page.homework %}{% unless item.first == '' %}<a href="{{ site.baseurl }}/homework/{{ item.first | replace_first:'-','/' | replace_first:'-','/' | replace_first:'-','/' | remove: '.md' }}/"><strong>Q</strong></a>{% endunless %} {% unless item.last == '' %}&amp; <a href="{{ site.baseurl }}/solutions/{{ item.last | replace_first:'-','/' | replace_first:'-','/' | replace_first:'-','/' | remove: '.md' }}/"><strong>A</strong></a>{% endunless %}<br>{% endfor %}</td>
          <td class="exercises-cell">{% for item in page.exercises %}{% unless item.first == '' %}<a href="{{ site.baseurl }}/exercises/{{ item.first | replace_first:'-','/' | replace_first:'-','/' | replace_first:'-','/' | remove: '.md' }}/"><strong>Q</strong></a>{% endunless %} {% unless item.last == '' %}&amp; <a href="{{ site.baseurl }}/solutions/{{ item.last | replace_first:'-','/' | replace_first:'-','/' | replace_first:'-','/' | remove: '.md' }}/"><strong>A</strong></a>{% endunless %}<br>{% endfor %}</td>
          <td class="resources-cell">{% for item in page.resources %}<a href="{{ site.baseurl }}/resources/{{ item.first | replace_first:'-','/' | replace_first:'-','/' | replace_first:'-','/' | remove: '.md' }}/">{{ item.last }}</a><br>{% endfor %}</td>
        </tr>
      </tbody>
  </table>

</div>

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'rclub'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

